.wrapper {
  margin-top: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  grid-template-rows: 30px 30px repeat(6, 40px);
  grid-template-areas:
    "header header header header header header header"
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . .";
  grid-gap: 0px;
  width: min-content;
  height: min-content;
  margin: 0 auto;
}

.whitespace {
  grid-column-start: 1;
  grid-column-end: 1;
}

.dayOfWeek {
  color: #757575;
  font-size: 12px;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 5px;
}

.day {
  box-sizing: border-box;
  padding: 1px;
  color: rgb(72, 72, 72);
  background-color: white;
  /* border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray; */
  border: 1px solid #e4e4e4;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

.dayAvailable:hover {
  background-color: #e4e4e4;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.date {
  height: 100%;
  /* width: 100%; */

  font-weight: bold;
  color: #484848;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.leftArrowContainer, .rightArrowContainer {
  height: 33px;
  width: 39px;

  border: 1px solid #e4e4e4;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.leftArrowContainer {
  margin-right: auto;
}

.rightArrowContainer {
  margin-left: auto;
}

.leftArrow, .rightArrow {
  height: 19px;
  width: 19px;
  filter: invert(56%) sepia(5%) saturate(347%) hue-rotate(149deg) brightness(95%) contrast(85%);
}

.leftArrow {
  transform: rotate(180deg);
}

#day1 {
  grid-column-start: 2;
}