.wrapper {
  box-sizing: border-box;
  width: 376px;
  height: 518px;
  background: white;
  padding: 0px 24px;
  border: 1px solid #e4e4e4;
  font-family: "Poppins", sans-serif;
}

.priceCalc {
  display: flex;
  flex-wrap: wrap;
}

.title {
  flex-basis: 75%;
  border-bottom: 1px solid #e4e4e4;
  vertical-align: middle;
}

.description {
  flex-basis: 25%;
  margin-left: auto;
  text-align: right;
  border-bottom: 1px solid #e4e4e4;
  vertical-align: middle;
}

.total {
  font-weight: bold;
}

.arrow {
  height: 24px;
  width: 24px;
}

.star {
  height: 10px;
  width: 10px;
  filter: invert(36%) sepia(20%) saturate(3730%) hue-rotate(147deg) brightness(98%) contrast(101%);
}

#price {
  color: #484848;
  font-size: 22px;
}

#perNight{
  font-size: 12px;
}

.reviews {
  font-size: 12px;
}

#avgStars {
  color: #484848;
}

#numReviews {
  color: #767676;
}

#dateBar {
  display: flex;
  position: relative;
  user-select: none;
  border: 1px solid salmon;
}

#startDate, #endDate {
  width: 150px;
  border: 1px solid black;
}

#startDate {
  margin-right: auto;
}

#endDate {
  margin-left: auto;
}
