.bar {
  position: relative;
  height: 100%;
  font-size: 16px;
  padding: 0 10px;
  box-sizing: border-box;
}

.bar::before {
  position: absolute;
  content: "";
  top: -1%;
  left: 0%;
  width: 100%;
  border-top: 2px solid #00888C;
  border-radius: 2px;
}

.bar:first-child {
  padding-top: 25px;
}

.row {
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 50px;
}

.btn {
  display: flex;
}

.minus, .plus {
  /* padding: 5px; */
  height: 32px;
  width: 32px;

  border: 1px solid #00888C;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minus {
  margin-right: auto;
}

.plus {
  margin-left: auto;
}

.num {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.minusSign, .plusSign {
  height: 12px;
  width: 12px;
  filter: invert(34%) sepia(88%) saturate(806%) hue-rotate(143deg) brightness(96%) contrast(101%);
}