.bar {
  position: relative;
  height: 100%;
  font-size: 16px;
  padding: 0 10px;
  box-sizing: border-box;
  cursor: auto;
}

.bar::before {
  position: absolute;
  content: "";
  top: -1%;
  left: 0%;
  width: 100%;
  border-top: 2px solid #00888C;
  border-radius: 2px;
}

.bar:first-child {
  padding-top: 25px;
}

.row {
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 50px;
  grid-template-areas:
    "title button"
    "description button";
}

.title {
  grid-area: title;
}

.btn {
  display: flex;
  grid-area: button;
}

.description {
  grid-area: description;
  font-size: 14px;
  padding-top: 10px;

  display: flex;
  align-items: flex-start;
}

.minus, .plus {
  /* padding: 5px; */
  height: 32px;
  width: 32px;

  border: 1px solid #00888C;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  user-select: none;
}

.minus {
  margin-right: auto;
}

.plus {
  margin-left: auto;
}

.num {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  font-weight: bold;
}

.minusSign, .plusSign {
  height: 12px;
  width: 12px;
  filter: invert(34%) sepia(88%) saturate(806%) hue-rotate(143deg) brightness(96%) contrast(101%);
}

.inactive {
  border-color: #BEDADB;
}

.inactive .minusSign, .inactive .plusSign {
  filter: invert(97%) sepia(5%) saturate(1118%) hue-rotate(140deg) brightness(92%) contrast(85%);
}

.explainer {
  grid-column: 1 / span 2;
}
